* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.6;
}

.container {
  max-width: 1000px;
  margin-inline: auto;
}

.hero {
    background-image: url('/images/headphones_hero_1.jpg');
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    height: 100%;
    padding: 21px 10px 80px 10px;
}

nav {
    display: flex;
    align-items: center;
    gap: 100px;
}

ul {
    display: none;
}

.logo-img {
    width: 10.0625rem;
    height: 2rem;
}

.logo-img img {
    object-fit: cover;
    width: 10.0625rem;
    height: 2rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 327px;
}

.hero-content h1{
    font-size: 32px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.hero-content h4 {
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 279px;
}

 button {
    padding: 16px 30px;
    background-color: #FF6565;
    border-radius: 100vw;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #ffff;
    border: none;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.hero-content p {
    color: #ffff;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    line-height: 26px;
    
}

/* Tablet: 768px and up */
@media (min-width: 768px) {
     .hero {
        padding-inline: 3rem;
     }

    header nav img {
        display: none;
    }

    .logo-img img {
        display: block;
    }

    nav {
        display: flex;
        align-items: center; 
        justify-content: space-between; 
    }
    
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    
    ul li {
        list-style: none;
        text-decoration: none;
       
    }
    
    ul li a {
        color: #f5f0f0;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
    }

    ul li a:hover {
        color: #FF6565; /* Change color on hover */
    }

    .hero-content h4 {
        width: 100%;
    }

     button {
        margin-top: 40px;
     }

     .hero-content p {
        max-width: 768px;
     }

}

/* Desktop: 1024px and up */
@media (min-width: 1024px) {

}


